@charset "UTF-8";
.container .container2 .settings_option h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 3rem;
}
.container .container2 .settings_option .another_thins {
  display: flex;
  width: 100%;
  height: 35rem;
  background-color: #e6e3e3;
  margin-bottom: 5rem;
  border-radius: 2px;
  padding: 1rem;
}
.container .container2 .settings_option .another_thins .edit_profile {
  margin-left: 10%;
  margin-bottom: 2rem;
  width: 20rem;
  background-color: #eeb147;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 2rem;
  border-radius: 1rem;
}
.container .container2 .settings_option .another_thins .edit_profile a {
  font-size: 3rem;
  color: #000;
}
.container .container2 .settings_option .another_thins .edit_profile a:hover {
  color: #440224;
}
.container .container2 .settings_option .another_thins .edit_profile i {
  font-size: 4rem;
  padding: 0 1rem 0 0;
  color: #440224;
  display: flex;
  justify-content: center;
  padding: 0 1rem 0 0;
  margin: 1rem;
}
.container .container2 .settings_option .another_thins .password_reset {
  margin-left: 20%;
  margin-bottom: 2rem;
  width: 20rem;
  background-color: #eeb147;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 2rem;
  border-radius: 1rem;
}
.container .container2 .settings_option .another_thins .password_reset a {
  font-size: 3rem;
  color: #000;
}
.container .container2 .settings_option .another_thins .password_reset a:hover {
  color: #3b6e97;
}
.container .container2 .settings_option .another_thins .password_reset i {
  padding: 0 1rem 0 0;
  font-size: 4rem;
  color: #3b6e97;
  display: flex;
  justify-content: center;
  padding: 0 1rem 0 0;
  margin: 1rem;
}
.container .container2 .settings_option .another_thins .address_updation {
  margin-left: 20%;
  margin-bottom: 2rem;
  width: 20rem;
  background-color: #eeb147;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 2rem;
  border-radius: 1rem;
}
.container .container2 .settings_option .another_thins .address_updation a {
  font-size: 3rem;
  color: #000;
}
 .container .container2 .settings_option .another_thins .address_updation a:hover {
  color: #310c58;
}
.container .container2 .settings_option .another_thins .address_updation i {
  color: #310c58;
  font-size: 4rem;
  padding: 0 1rem 0 0;
  margin: 1rem;
  display: flex;
  justify-content: center;
}