* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

input, select {
	border: none;
	outline: none;
}

select {
	cursor: pointer;
}

input {
	padding: 0.8rem;
}

button {
	border: none;
	cursor: pointer;
}

a {
	text-transform: none;
	text-decoration: none;
	cursor: pointer;
}

img {
	height: 100%;
	width: 100%;
}

i {
	font-size: 1.8rem;
	cursor: pointer;
}
:root {
  --bg:#fff;
}
.container {
  position: relative;
  width: 100%;
}
.container .navigation {
  position: fixed;
  inset: 0rem 0 0rem 0rem;
  background: #333;
  width: 25rem;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.container .navigation .menuToggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  padding: 0 23px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.container .navigation ul {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .navigation ul li {
  list-style: none;
  position: relative;
  width: 100%;
  height: 76px;
  border-radius: 12px;
  border: 8px solid transparent;
  transition: 0.5s;
}
.container .navigation ul li a {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-align: center;
  text-decoration: none;
  z-index: 1000;
}
.container .navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  border-radius: 10px;
  font-size: 3rem;
  line-height: 60px;
  border: 6px solid transparent;
  transition: 0.5s;
}
.container .navigation ul li a .text {
  position: relative;
  font-size: 1.6rem;
  padding: 0 15px;
  color: #fff;
  display: flex;
  align-items: center;
  height: 60px;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
.container .navigation ul li a .text button{
	
	padding: 3rem 7rem 3rem 0;
	font-size: 1.6rem;
	background: transparent;
	color: #fff;
}
.container .navigation .menuToggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}
.container .navigation .menuToggle img {
  width: 6rem;
}
.container .navigation .menuToggle p {
  font-size: 2.5rem;
  color: #fff;
  padding-right: 4rem;
}
.container .navigation ul li.active a .text,
.container .navigation ul li.active a .text button {
  color: #333;
}
.container .navigation.active ul li a .text {
  visibility: visible;
  opacity: 1;
}
.container .navigation ul li a .icon::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -60px;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border: 8px solid var(--bg);
  border-radius: 50%;
}
.container .navigation ul li.active a .icon::before {
  opacity: 0.5;
}
.container .navigation ul li a .icon::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  filter: blur(8px);
  opacity: 0;
  transition: 0.5s;
}
.container .navigation ul li.active a .icon {
  color: #fff;
  background: var(--clr);
}
.container .navigation ul li::before {
  content: "";
  position: absolute;
  top: -28px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 6px 5px 0 5px var(--bg);
  transform: scale(0);
  transform-origin: bottom right;
  transition: 0.5s;
}
.container .navigation ul li.active::before {
  right: 22px;
  transform: scale(1);
}
.container .navigation ul li::after {
  content: "";
  position: absolute;
  bottom: -28px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 6px -3px 0 3px var(--bg);
  transform: scale(0);
  transform-origin: bottom right;
  transition: 0.5s;
}
.container .navigation ul li.active::after {
  right: 22px;
  transform: scale(1);
}
.container .navigation ul li.active {
  transform: translateX(30px);
  background: var(--bg);
}
.container .navigation.active {
  width: 25rem;
}
.container .navigation.active .menuToggle::before {
  transform: translateY(0) rotate(45deg);
}
.container .navigation.active .menuToggle::after {
  transform: translateY(0) rotate(-45deg);
  box-shadow: 0 0 0 #333;
}
.container .main {
  position: absolute;
  width: calc(100% - 30rem);
  left: 25rem;
  min-height: 100vh;
  background: #fff;
  transition: 0.5s;
}
.container .main .container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .main .container2 .btn {
  padding: 1rem 6rem;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 3rem;
}
.container .main .container2 .popup {
  width: 30rem;
  background: #bababa;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 3rem;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.container .main .container2 .popup h2 {
  font-size: 2rem;
  margin: 2rem 0 2rem;
  font-weight: 800;
}
.container .main .container2 .popup p {
  font-weight: 600;
  font-size: 1.5rem;
}
.container .main .container2 .popup .btnc {
  display: flex;
  justify-content: space-around;
}
.container .main .container2 .popup .btnc button {
  margin-top: 5rem;
  padding: 1rem 2rem;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.container .main .container2 .popup .btnc .yes {
  background: #00fb00;
}
.container .main .container2 .popup .btnc .cancel {
  background: #ff0055;
}
.container .main .container2 .open-popup {
  visibility: visible;
  z-index: 100;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.container .main .topbar {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.1rem;
}
.container .main .topbar .toggle {
  position: relative;
  top: -1rem;
  left: -5rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
.container .main .topbar .search {
  position: relative;
  width: 40rem;
  margin: 0 1rem;
}
.container .main .topbar .search label {
  position: relative;
  width: 100%;
}
.container .main .topbar .search label input {
  width: 100%;
  height: 3rem;
  border-radius: 4rem;
  padding: 0.5rem 2rem;
  padding-left: 3.5rem;
  font-size: 1.4rem;
  outline: none;
  border: 0.01rem solid #000000;
}
.container .main .topbar .search label ion-icon {
  position: absolute;
  top: 0;
  left: 1rem;
  font-size: 1.5rem;
}
.container .main .topbar .user {
  position: relative;
  height: 3.5rem;
  width: 5rem;
  overflow: hidden;
  cursor: pointer;
}
.container .main .topbar .user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .main .cardbox {
  position: relative;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2.5rem;
}
.container .main .cardbox .card {
  position: relative;
  background: #fff;
  padding: 2.5rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 0.7rem 2.5rem rgba(0, 0, 0, 0.08);
}
.container .main .cardbox .card .numbers {
  position: relative;
  font-weight: 600;
  font-size: 2rem;
  color: #287bff;
}
.container .main .cardbox .card .cardname {
  color: #fe5d00;
  font-size: 1.1rem;
  margin-top: 0.4rem;
}
.container .main .cardbox .card .iconbx {
  font-size: 1.5rem;
  color: #777373;
}
.container .main .card:hover {
  box-shadow: 0 0.7rem 2.5rem #fe5d00;
}
.container .main .details {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2.5rem;
}
.container .main .details .recentorders {
  position: relative;
  display: grid;
  width:100%;
  min-height: 5rem;
  background: #fff;
  padding: 1.5rem;
  box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.08);
  border-radius: 1.1rem;
}
.container .main .details .recentorders .cardheader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container .main .details .recentorders .cardheader h2 {
  font-weight: 600;
  color: #287bff;
}
.container .main .details .recentorders .cardheader .btn {
  position: relative;
  padding: 0.5rem 1rem;
  background: #287bff;
  text-decoration: none;
  color: #fff;
  border-radius: 0.4rem;
}
.container .main .details .recentorders table {
  min-width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
.container .main .details .recentorders table tr {
  color: #777373;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  align-items: center;
}
.container .main .details .recentorders table tr td {
  padding: 1.5rem;
  min-width: 10rem;
  align-items: center;
}
.container .main .details .recentorders table tr td:nth-child(10){
	min-width: 15rem;
}
.container .main .details .recentorders table tr td:nth-child(1){
	min-width: 5rem;
}
.container .main .details .recentorders table tr td button {
  padding: .5rem 1rem;
  color: #fff;
  border-radius: .5rem;
  margin: 0 0 .5rem 0;
}
.container .main .details .recentorders table tr td .add{
	background: #49d200;
	
}
.container .main .details .recentorders table tr td .reject{
	background: #ff0079;
}
.container .main .details .recentorders table thead td {
  font-weight: 800;
  align-items: center;
}
.container .main .details .recentorders table tbody tr td .status.delivered {
  padding: 0.2rem 0.4rem;
  background: #8de02c;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
}
.container .main .details .recentorders table tbody tr td .status.pending {
  padding: 0.2rem 0.4rem;
  background: #f9ca3f;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
}
.container .main .details .recentorders table tbody tr td .status.return {
  padding: 0.2rem 0.4rem;
  background: #f00;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
}
.container .main .details .recentorders table tbody tr td .status.inprogress {
  padding: 0.2rem 0.4rem;
  background: rgb(157, 0, 255);
  color: #fff;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
}
.container .main .details .active_doctor {
  position: relative;
  display: grid;
  min-height: 5rem;
  padding: 2rem;
  box-shadow: 0 0.6rem 2.5rem rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;
}
.container .main .details .active_doctor .doctor h2 {
  font-weight: 600;
  color: #287bff;
}
.container .main .details .active_doctor table tr td {
  padding: 1.2rem 1rem;
}
.container .main .details .active_doctor table tr td h4 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1rem;
}
.container .main .details .active_doctor table tr td h4 span {
  font-size: 1rem;
  color: #777373;
}
.container .main .details .active_doctor table tr .imgbox {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.container .main .details .active_doctor table tr .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .main .details .active_doctor table tr:hover {
  background: #c0c0c0;
  color: #fff;
}
.container .main .details .recentorders table tr:last-child {
  border-bottom: none;
}

.container .main .details .recentorders table tbody tr:hover {
  background: #287bff;
  color: #fff;
}
.container .main.active {
  width: calc(100% - 10.5rem);
  left: 8.5rem;
}/*# sourceMappingURL=admin.css.map */