* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

input,
select {
  border: none;
  outline: none;
}

select {
  cursor: pointer;
}

input {
  padding: 0.8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

i {
  font-size: 1.8rem;
  cursor: pointer;
}

.maincontainer header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
}
.maincontainer header a.active {
  background: linear-gradient(45deg, #7d0f6b, #6d0d0d);
  border-radius: 0px 20px 20px 0px;
}
.maincontainer header .appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 50rem;
  background: linear-gradient(45deg, #7d0f6b, #6d0d0d);
  border-radius: 0px 20px 20px 0px;
}
.maincontainer header .appointment h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 4rem;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.maincontainer header .appointment:hover a.active {
  background: linear-gradient(45deg, #7d0f6b, #6d0d0d);
  border-radius: 0px 20px 20px 0px;
}
.maincontainer header .adoption {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 50rem;
  background: linear-gradient(45.84deg, #7a5d9a -18.54%, #9f5e99 109.96%);
  border-radius: 20px;
}
.maincontainer header .adoption h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 4rem;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.maincontainer header .adoption:hover {
  background: linear-gradient(45.84deg, #480742 18.54%, #310c58 109.96%);
  border-radius: 20px;
}
.maincontainer header .grocery {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 50rem;
  background: linear-gradient(271.76deg, #6f9a5b -18.43%, #5c9999 96.63%);
  border-radius: 20px 0px 0px 20px;
}
.maincontainer header .grocery h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 4rem;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.maincontainer header .grocery:hover {
  background: linear-gradient(271.76deg, #086060 -18.43%, #2a7009 96.63%);
  border-radius: 20px 0px 0px 20px;
}
.maincontainer .navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
  background: #ffffff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  top: -1px;
}
.maincontainer .navbar .logo_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45rem;
}
.maincontainer .navbar .logo_search .logo img {
  height: 6rem;
  width: 6rem;
  margin-left: 1rem;
}
.maincontainer .navbar .logo_search .search {
  position: relative;
  width: 35rem;
  height: 4rem;
  display: flex;
  justify-content: right;
  align-items: center;
}
.maincontainer .navbar .logo_search .search input {
  width: 28rem;
  height: 4rem;
  padding-left: 2.5rem;
  border-radius: 2rem 0 0 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid #000;
  border-right: none;
}
.maincontainer .navbar .logo_search .search button {
  position: relative;
  margin-bottom: 2px;
  width: 5rem;
  height: 4rem;
  border-radius: 0 2rem 2rem 0;
  border: none;
  background: linear-gradient(45deg, #3b6e97 18.43%, #4f287b 96.63%);
  margin-top: 2px;
  border: 1px solid #000;
  border-left: none;
}
.maincontainer .navbar .logo_search .search button i {
  color: #fff;
}
.maincontainer .navbar .right_2nd_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
}
.maincontainer .navbar .right_2nd_nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.maincontainer .navbar .right_2nd_nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.maincontainer .navbar .right_2nd_nav ul li .login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 4rem;
  border-radius: 1.6rem;
  background: linear-gradient(45deg, #8e3e67 29.43%, #a04886 70.63%);
  font-size: 2rem;
  margin-right: 0.3rem;
  color: #fff;
}
.maincontainer .navbar .right_2nd_nav ul li .login:hover {
  background: linear-gradient(45deg, #750654 29.43%, #440224 70.63%);
  border-radius: 1.6rem;
}
.maincontainer .navbar .right_2nd_nav ul li .setting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 4rem;
  border-radius: 1.6rem;
  background: linear-gradient(45deg, #4378a3 -18.43%, #683e97 96.63%);
  font-size: 2rem;
  margin-right: 0.3rem;
  color: #fff;
}
.maincontainer .navbar .right_2nd_nav ul li .setting:hover {
  background: linear-gradient(45deg, #210640 -18.43%, #075696 96.63%);
  border-radius: 1.6rem;
}
.maincontainer .navbar .right_2nd_nav ul li .profile {
  height: 5rem;
  width: 5rem;
}
.maincontainer .navbar .right_2nd_nav ul li .profile img {
  border-radius: 50%;
  cursor: pointer;
}
.maincontainer .navbar .sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 2%;
  width: 32rem;
  max-height: 0rem;
  overflow: hidden;
  transition: max-height 0.5s;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .user-info {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 5rem;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .user-info img {
  border-radius: 50%;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .user-info h3 {
  font-size: 2rem;
  font-weight: 700;
  padding-left: 1.5rem;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu hr {
  height: 1px;
  width: 100%;
  margin: 1.5rem 0 1rem;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 1.5rem 0;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link p {
  font-size: 1.5rem;
  font-weight: 520;
  width: 100%;
  transition: transform 0.5s;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link span {
  font-size: 1.5rem;
  transition: transform 0.5s;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link span:hover {
  transform: translateX(5px);
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link:hover span {
  transform: translateX(5px);
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link:hover p {
  transform: translateX(3px);
  font-weight: 550;
}
.maincontainer .navbar .open-menu {
  max-height: 40rem;
}
.maincontainer form .form_all {
  height: 100%;
  width: 100%;
  background: #f3f3fe;
  padding: 5rem 0;
}
.maincontainer form .form_all .form-section {
  min-height: 95rem;
  margin: 0 20%;
  border: 1rem solid #ffffff;
  background: #fff;
  border-radius: 1rem;
  list-style: none;
  padding: 1rem;
}
.maincontainer form .form_all .form-section .top-form-try {
  display: flex;
  justify-content: space-between;
}
.maincontainer form .form_all .form-section .top-form-try .form-line-col-1 div {
  position: relative;
  left: 2rem;
  top: 2rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-line-col-1 div img {
  height: 10rem;
  width: 10rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-col-2 .form-input-wide .form-html {
  position: relative;
  right: 2rem;
  top: 2rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-col-2 .form-input-wide .form-html div div strong {
  font-size: 3rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-col-2 .form-input-wide .form-html div div {
  font-size: 1.5rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-col-2 .form-input-wide .form-html div div div {
  font-size: 1.5rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-col-2 .form-input-wide .form-html div div div {
  font-size: 1.5rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-col-2 .form-input-wide .form-html div div div {
  font-size: 1.5rem;
}
.maincontainer form .form_all .form-section .form-input-wide-2 {
  border-top: 0.2rem solid #000;
  position: relative;
  margin-top: 3rem;
}
.maincontainer form .form_all .form-section .form-input-wide-2 .form-header-group {
  padding-top: 2rem;
}
.maincontainer form .form_all .form-section .form-input-wide-2 .form-header-group .header-text h1 {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
}
.maincontainer form .form_all .form-section .form-input-wide-2 .form-header-group .header-text p {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.maincontainer form .form_all .form-section .name-input {
  top: 3rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maincontainer form .form_all .form-section .name-input .labinput {
  width: 100%;
}
.maincontainer form .form_all .form-section .name-input .labinput .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .name-input .labinput .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .name-input .labinput input {
  width: 98%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border-left: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  border-top: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .phone-gender {
  top: 3rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox {
  top: 2rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput1 {
  width: 100%;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput1 .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput1 .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput1 select {
  width: 98%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput {
  width: 100%;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput input {
  width: 98%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .address-pet {
  top: 5rem;
  position: relative;
  width: 100%;
  align-items: center;
}
.maincontainer form .form_all .form-section .address-pet .labinput {
  width: 100%;
}
.maincontainer form .form_all .form-section .address-pet .labinput .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .address-pet .labinput .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .address-pet .labinput input {
  width: 99%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border-left: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  border-top: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .address-pet-dist {
  top: 5rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maincontainer form .form_all .form-section .address-pet-dist .labinput {
  width: 100%;
}
.maincontainer form .form_all .form-section .address-pet-dist .labinput .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .address-pet-dist .labinput .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .address-pet-dist .labinput input {
  width: 98%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border-left: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  border-top: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .email-add {
  top: 5rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maincontainer form .form_all .form-section .email-add .labinput {
  width: 100%;
}
.maincontainer form .form_all .form-section .email-add .labinput .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .email-add .labinput .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .email-add .labinput input {
  width: 90%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border-left: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  border-top: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .email-add .labinput2 {
  width: 40%;
}
.maincontainer form .form_all .form-section .email-add .labinput2 .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .email-add .labinput2 .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .email-add .labinput2 input {
  width: 40%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border-left: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  border-top: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .appontment-section {
  top: 5rem;
  position: relative;
}
.maincontainer form .form_all .form-section .appontment-section .labinput {
  width: 50%;
}
.maincontainer form .form_all .form-section .appontment-section .labinput .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .appontment-section .labinput .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .appontment-section .labinput input {
  width: 90%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border-left: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  border-top: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .for-submit {
  display: flex;
  justify-content: center;
}
.maincontainer form .form_all .form-section .for-submit button {
  cursor: pointer;
  background: linear-gradient(45deg, #cf0d5b -18.43%, #d012aa 80.63%);
  position: relative;
  bottom: -8rem;
  color: #fff;
  border: none;
  padding: 1rem 5rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.maincontainer form .form_all .form-section .for-submit button:hover {
  background: linear-gradient(45deg, #d012aa -18.43%, #cf0d5b 80.63%);
  color: rgb(191, 191, 191);
}
.maincontainer .footer {
  position: relative;
  width: 100%;
  padding: 8rem 0 3rem;
  background: linear-gradient(45deg, #392b63, #5f274d);
  font-size: 1.4rem;
  font-weight: 550;
  border-radius: 5rem 5rem 0 0;
  line-height: 2rem;
}
.maincontainer .footer .row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.maincontainer .footer .row .col {
  flex-basis: 25%;
  padding: 1rem;
}
.maincontainer .footer .row .col p {
  color: #ccc;
}
.maincontainer .footer .row .col .logo {
  width: 8rem;
  height: 8rem;
  margin-bottom: 2.5rem;
}
.maincontainer .footer .row .col .email {
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.5rem 0 1rem 0;
}
.maincontainer .footer .row .col h3 {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 4rem;
  position: relative;
  color: #fff;
}
.maincontainer .footer .row .col h3 .underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 2.5rem;
  left: 0;
  overflow: hidden;
}
.maincontainer .footer .row .col h3 .underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 1rem;
  animation: animate 2s linear infinite;
}
.maincontainer .footer .row .col ul li {
  list-style: none;
  margin-bottom: 1.2rem;
}
.maincontainer .footer .row .col ul li a {
  text-decoration: none;
  color: #ccc;
}
.maincontainer .footer .row .col ul li:hover {
  transform: translateX(3px);
  color: #fff;
}
.maincontainer .footer .row .col form {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5rem;
}
.maincontainer .footer .row .col form .far {
  font-size: 1.8rem;
  margin-right: 1rem;
  color: #ccc;
}
.maincontainer .footer .row .col form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
.maincontainer .footer .row .col form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.maincontainer .footer .row .col form button .fas {
  font-size: 1.6rem;
  color: #ccc;
}
.maincontainer .footer .row .col .social .fab {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  color: #000;
  background: #fff;
  margin-right: 1.5rem;
  cursor: pointer;
}
.maincontainer .footer .row .col .social .fab:hover {
  color: #fff;
  background: rgb(35, 13, 58);
}
.maincontainer .footer .row .col:nth-child(2),
.maincontainer .footer .row .col:nth-child(3) {
  flex-basis: 12%;
}
.maincontainer .footer hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 2rem auto;
}
.maincontainer .footer .copyright {
  text-align: center;
  color: #ccc;
}

@keyframes animate {
  0% {
    left: -20rem;
  }
  100% {
    left: 100%;
  }
}/*# sourceMappingURL=appiontment.css.map */