* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

input,
select {
  border: none;
  outline: none;
}

select {
  cursor: pointer;
}

input {
  padding: 0.8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

i {
  font-size: 1.8rem;
  cursor: pointer;
}


.maincontainer form .form_all {
  height: 100%;
  width: 100%;
  background: #f3f3fe;
  padding: 5rem 0;
}
.maincontainer form .form_all .form-section {
  min-height: 105rem;
  margin: 0 20%;
  border: 1rem solid #ffffff;
  background: #fff;
  border-radius: 1rem;
  list-style: none;
  padding: 1rem;
}
.maincontainer form .form_all .form-section .top-form-try {
  display: flex;
  justify-content: space-between;
}
.maincontainer form .form_all .form-section .top-form-try .form-line-col-1 div {
  position: relative;
  left: 2rem;
  top: 2rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-line-col-1 div img {
  height: 10rem;
  width: 10rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-col-2 .form-input-wide .form-html {
  position: relative;
  right: 2rem;
  top: 2rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-col-2 .form-input-wide .form-html div div strong {
  font-size: 3rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-col-2 .form-input-wide .form-html div div {
  font-size: 1.5rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-col-2 .form-input-wide .form-html div div div {
  font-size: 1.5rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-col-2 .form-input-wide .form-html div div div {
  font-size: 1.5rem;
}
.maincontainer form .form_all .form-section .top-form-try .form-col-2 .form-input-wide .form-html div div div {
  font-size: 1.5rem;
}
.maincontainer form .form_all .form-section .form-input-wide-2 {
  border-top: 0.2rem solid #000;
  position: relative;
  margin-top: 3rem;
}
.maincontainer form .form_all .form-section .form-input-wide-2 .form-header-group {
  padding-top: 2rem;
}
.maincontainer form .form_all .form-section .form-input-wide-2 .form-header-group .header-text h1 {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
}
.maincontainer form .form_all .form-section .form-input-wide-2 .form-header-group .header-text p {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.maincontainer form .form_all .form-section .name-input {
  top: 3rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maincontainer form .form_all .form-section .name-input .labinput {
  width: 100%;
}
.maincontainer form .form_all .form-section .name-input .labinput .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .name-input .labinput .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .name-input .labinput input {
  width: 98%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border-left: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  border-top: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .phone-gender {
  top: 3rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox {
  top: 2rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput1 {
  width: 100%;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput1 .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput1 .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput1 select {
  width: 98%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput {
  width: 100%;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .phone-gender .inputbox .labinput input {
  width: 98%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .address-pet {
  top: 5rem;
  position: relative;
  width: 100%;
  align-items: center;
}
.maincontainer form .form_all .form-section .address-pet .labinput {
  width: 100%;
}
.maincontainer form .form_all .form-section .address-pet .labinput .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .address-pet .labinput .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .address-pet .labinput input {
  width: 99%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border-left: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  border-top: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .address-pet-dist {
  top: 5rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maincontainer form .form_all .form-section .address-pet-dist .labinput {
  width: 100%;
}
.maincontainer form .form_all .form-section .address-pet-dist .labinput .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .address-pet-dist .labinput .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .address-pet-dist .labinput input {
  width: 98%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border-left: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  border-top: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .email-add {
  top: 5rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maincontainer form .form_all .form-section .email-add .labinput {
  width: 100%;
}
.maincontainer form .form_all .form-section .email-add .labinput .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .email-add .labinput .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .email-add .labinput input,
.maincontainer form .form_all .form-section .email-add .labinput textarea,
.maincontainer form .form_all .form-section .email-add .labinput select {
  width: 90%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border-left: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  border-top: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .email-add .labinput2 {
  width: 40%;
}
.maincontainer form .form_all .form-section .email-add .labinput2 .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .email-add .labinput2 .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .email-add .labinput2 input {
  width: 40%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border-left: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  border-top: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .appontment-section {
  top: 5rem;
  position: relative;
}
.maincontainer form .form_all .form-section .appontment-section .labinput {
  width: 50%;
}
.maincontainer form .form_all .form-section .appontment-section .labinput .text {
  padding: 1rem 0;
  border-radius: 1rem;
}
.maincontainer form .form_all .form-section .appontment-section .labinput .text label {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.maincontainer form .form_all .form-section .appontment-section .labinput input {
  width: 90%;
  padding: 1rem 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;
  border-left: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  border-top: 0.1rem solid #000;
  border-radius: 0.5rem;
}
.maincontainer form .form_all .form-section .for-submit {
  display: flex;
  justify-content: center;
}
.maincontainer form .form_all .form-section .for-submit button {
  cursor: pointer;
  background: linear-gradient(45deg, #cf0d5b -18.43%, #d012aa 80.63%);
  position: relative;
  bottom: -8rem;
  color: #fff;
  border: none;
  padding: 1rem 5rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.maincontainer form .form_all .form-section .for-submit button:hover {
  background: linear-gradient(45deg, #d012aa -18.43%, #cf0d5b 80.63%);
  color: rgb(191, 191, 191);
}
/*# sourceMappingURL=appiontment.css.map */