@charset "UTF-8";
.maincontainer .footer {
  position: relative;
  width: 100%;
  padding: 8rem 0 3rem;
  background: linear-gradient(45deg, #392b63, #5f274d);
  font-size: 1.4rem;
  font-weight: 550;
  border-radius: 5rem 5rem 0 0;
  line-height: 2rem;
}
.maincontainer .footer .row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.maincontainer .footer .row .col {
  flex-basis: 25%;
  padding: 1rem;
}
.maincontainer .footer .row .col p {
  color: #ccc;
}
.maincontainer .footer .row .col .logo {
  width: 8rem;
  height: 8rem;
  margin-bottom: 2.5rem;
}
.maincontainer .footer .row .col .email {
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.5rem 0 1rem 0;
}
.maincontainer .footer .row .col h3 {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 4rem;
  position: relative;
  color: #fff;
}
.maincontainer .footer .row .col h3 .underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 2.5rem;
  left: 0;
  overflow: hidden;
}
.maincontainer .footer .row .col h3 .underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 1rem;
  animation: animate 2s linear infinite;
}
.maincontainer .footer .row .col ul li {
  list-style: none;
  margin-bottom: 1.2rem;
}
.maincontainer .footer .row .col ul li a {
  text-decoration: none;
  color: #ccc;
}
.maincontainer .footer .row .col ul li:hover {
  transform: translateX(3px);
  color: #fff;
}
.maincontainer .footer .row .col form {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5rem;
}
.maincontainer .footer .row .col form .far {
  font-size: 1.8rem;
  margin-right: 1rem;
  color: #ccc;
}
.maincontainer .footer .row .col form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
.maincontainer .footer .row .col form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.maincontainer .footer .row .col form button .fas {
  font-size: 1.6rem;
  color: #ccc;
}
.maincontainer .footer .row .col .social .fab {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  color: #000;
  background: #fff;
  margin-right: 1.5rem;
  cursor: pointer;
}
.maincontainer .footer .row .col .social .fab:hover {
  color: #fff;
  background: rgb(35, 13, 58);
}
.maincontainer .footer .row .col:nth-child(2),
.maincontainer .footer .row .col:nth-child(3) {
  flex-basis: 12%;
}
.maincontainer .footer hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 2rem auto;
}
.maincontainer .footer .copyright {
  text-align: center;
  color: #ccc;
}
@keyframes animate {
  0% {
    left: -20rem;
  }
  100% {
    left: 100%;
  }
}