@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

input, select {

	outline: none;
}

select {
	cursor: pointer;
}

input {
	padding: 0.8rem;
}

button {
	border: none;
	cursor: pointer;
}

a {
	text-transform: none;
	text-decoration: none;
	cursor: pointer;
}

img {
	height: 100%;
	width: 100%;
}

i {
	font-size: 1.8rem;
	cursor: pointer;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

Firefox
input[type=number] {
  -moz-appearance: textfield;
} */

.maincontainer header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	width: 100%;
}

.maincontainer header a.active {
	background: linear-gradient(45deg, #7d0f6b, #6d0d0d);
	border-radius: 0px 20px 20px 0px;
}

.maincontainer header .appointment {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	width: 75rem;
	background: linear-gradient(45deg, #7d0f6b, #6d0d0d);
	border-radius: 0px 20px 20px 0px;
}

.maincontainer header .appointment h2 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 2.5rem;
	line-height: 4rem;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.maincontainer header .appointment:hover a.active {
	background: linear-gradient(45deg, #7d0f6b, #6d0d0d);
	border-radius: 0px 20px 20px 0px;
}



.maincontainer header .grocery {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	width: 75rem;
	background: linear-gradient(271.76deg, #6f9a5b -18.43%, #5c9999 96.63%);
	border-radius: 20px 0px 0px 20px;
}

.maincontainer header .grocery h2 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 2.5rem;
	line-height: 4rem;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.maincontainer header .grocery:hover {
	background: linear-gradient(271.76deg, #086060 -18.43%, #2a7009 96.63%);
	border-radius: 20px 0px 0px 20px;
}

.maincontainer .navbar {
	position: -webkit-sticky;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6rem;
	width: 100%;
	background: #ffffff;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	z-index: 1000;
	top: -1px;
}

.maincontainer .navbar .logo_search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 45rem;
}

.maincontainer .navbar .logo_search .logo img {
	height: 6rem;
	width: 6rem;
	margin-left: 1rem;
}

.maincontainer .navbar .logo_search .search {
	position: relative;
	width: 35rem;
	height: 4rem;
	display: flex;
	justify-content: right;
	align-items: center;
}

.maincontainer .navbar .logo_search .search input {
	width: 28rem;
	height: 4rem;
	padding-left: 2.5rem;
	border-radius: 2rem 0 0 2rem;
	font-size: 1.6rem;
	font-weight: 500;
	border: 1px solid #000;
	border-right: none;
}

.maincontainer .navbar .logo_search .search button {
	position: relative;
	margin-bottom: 2px;
	width: 5rem;
	height: 4rem;
	border-radius: 0 2rem 2rem 0;
	border: none;
	background: linear-gradient(45deg, #3b6e97 18.43%, #4f287b 96.63%);
	margin-top: 2px;
	border: 1px solid #000;
	border-left: none;
}

.maincontainer .navbar .logo_search .search button i {
	color: #fff;
}

.maincontainer .navbar .right_2nd_nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.maincontainer .navbar .right_2nd_nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

.maincontainer .navbar .right_2nd_nav ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem;
}

.maincontainer .navbar .right_2nd_nav ul li .login {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12rem;
	height: 4rem;
	border-radius: 1.6rem;
	background: linear-gradient(45deg, #8e3e67 29.43%, #a04886 70.63%);
	font-size: 2rem;
	margin-right: 0.3rem;
	color: #fff;
}

.maincontainer .navbar .right_2nd_nav ul li .login:hover {
	background: linear-gradient(45deg, #750654 29.43%, #440224 70.63%);
	border-radius: 1.6rem;
}

.maincontainer .navbar .right_2nd_nav ul li .setting {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12rem;
	height: 4rem;
	border-radius: 1.6rem;
	background: linear-gradient(45deg, #4378a3 -18.43%, #683e97 96.63%);
	font-size: 2rem;
	margin-right: 0.3rem;
	color: #fff;
}

.maincontainer .navbar .right_2nd_nav ul li .setting:hover {
	background: linear-gradient(45deg, #210640 -18.43%, #075696 96.63%);
	border-radius: 1.6rem;
}
.maincontainer .navbar .right_2nd_nav ul li .cart {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12rem;
	height: 4rem;
	border-radius: 1.6rem;
	background: linear-gradient(45deg, #8e3e67 29.43%, #a04886 70.63%);
	font-size: 2rem;
	margin-right: 0.3rem;
	color: #fff;
}
.maincontainer .navbar .right_2nd_nav ul li .cart:hover {
	background: linear-gradient(45deg, #750654 29.43%, #440224 70.63%);
	border-radius: 1.6rem;
}
.maincontainer .navbar .right_2nd_nav ul li .profile {
  height: 5rem;
  width: 5rem;
}
.maincontainer .navbar .right_2nd_nav ul li .profile img {
  border-radius: 50%;
  cursor: pointer;
}
.maincontainer .navbar .sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 2%;
  width: 32rem;
  max-height: 0rem;
  overflow: hidden;
  transition: max-height 0.5s;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .user-info {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 5rem;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .user-info img {
  border-radius: 50%;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .user-info h3 {
  font-size: 2rem;
  font-weight: 700;
  padding-left: 1.5rem;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu hr {
  height: 1px;
  width: 100%;
  margin: 1.5rem 0 1rem;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 1.5rem 0;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link i{
  font-size: 2rem;
  padding: .8rem;
  margin-right: .5rem;
  border-radius: 100%;
  color: lightblue;
  background: #525252;
  font-weight: 520;
  transition: transform 0.5s;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link p {
  font-size: 1.5rem;
  font-weight: 520;
  width: 100%;
  transition: transform 0.5s;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link span {
  font-size: 1.5rem;
  transition: transform 0.5s;
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link span:hover {
  transform: translateX(5px);
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link:hover span {
  transform: translateX(5px);
}
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link:hover p,
.maincontainer .navbar .sub-menu-wrap .sub-menu .sub-menu-link:hover i {
  transform: translateX(3px);
  font-weight: 550;
}
.maincontainer .navbar .open-menu {
  max-height: 40rem;
}