* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

input, select {
	border: none;
	outline: none;
}

select {
	cursor: pointer;
}

input {
	padding: 0.8rem;
}

button {
	border: none;
	cursor: pointer;
}

a {
	text-transform: none;
	text-decoration: none;
	cursor: pointer;
}

img {
	height: 100%;
	width: 100%;
}

i {
	font-size: 1.8rem;
	cursor: pointer;
}
.maincontainer .container .popup {
  width: 30rem;
  background: #eee;
  border-radius: 6px;
  position: absolute;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 3rem;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.maincontainer .container .popup h2 {
  font-size: 2rem;
  margin: 2rem 0 2rem;
  font-weight: 800;
}
.maincontainer .container .popup p {
	font-size: 1.5rem;
  font-weight: 600;
  font-size: 1rgb(192, 192, 192)m;
}
.maincontainer .container .popup .btnc {
  display: flex;
  justify-content: space-around;
}
.maincontainer .container .popup .btnc button {
  margin-top: 5rem;
  padding: 1rem 2rem;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.maincontainer .container .popup .btnc .yes {
  background: #00fb00;
}
.maincontainer .container .popup .btnc .cancel {
  background: #ff0055;
}
.maincontainer .container .open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.maincontainer .home {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
}

.maincontainer .home .entry_view img {
	width: 100%;
	height: 60vh;
	position: relative;
}

.maincontainer .home .appoinment {
	position: relative;
	width: 100%;
	height: 50vh;
	background-image:
		url(./Img/The_Science_Behind_Graphene_Oxide_-_Gold_Eagle-removebg-preview\ 1.png);
}

.maincontainer .home .appoinment .text {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
}

.maincontainer .home .appoinment .text .app_text {
	margin-bottom: 15rem;
	width: 70%;
}

.maincontainer .home .appoinment .text .app_text h3 {
	position: relative;
	padding-left: 2rem;
	width: 80rem;
	height: 3rem;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 3rem;
	line-height: 6rem;
	color: #110F67;
	top: 0;
	position: relative;
	z-index: 100;
}

.maincontainer .home .appoinment .text .app_text h3 span {
	color: #2CD147;
}

.maincontainer .home .appoinment .text .app_text h2 {
	position: relative;
	padding-left: 10rem;
	padding-top: 7rem;
	width: 70rem;
	font-family: "Inter";
	font-style: normal;
	display: inline-flex;
	line-height: 6rem;
	top: 0;
	z-index: 100;
}

.maincontainer .home .appoinment .text .app_text h2 .static {
	font-weight: 600;
	font-size: 4rem;
	color: #110F67;
}

.maincontainer .home .appoinment .text .app_text h2 .dynamic {
	margin-left: 1rem;
	height: 5rem;
	overflow: hidden;
}

.maincontainer .home .appoinment .text .app_text h2 .dynamic li {
	list-style: none;
	font-weight: 600;
	font-size: 4rem;
	position: relative;
	top: 0;
	-webkit-animation: slide 11s steps(3) infinite;
	animation: slide 11s steps(3) infinite;
}

.maincontainer .home .appoinment .text .app_text h2 .dynamic li span {
	position: relative;
	color: #ff00a6;
}

.maincontainer .home .appoinment .text .app_text h2 .dynamic li span:after
	{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background: #fff;
	border-left: 3px solid #ff00a6;
	-webkit-animation: typing 3.5s steps(10) infinite;
	animation: typing 3.5s steps(10) infinite;
}

.maincontainer .home .appoinment .text .app_text h2 span {
	color: #2CD147;
}

.maincontainer .home .appoinment .text .img {
	height: 50vh;
	width: 30%;
}

.maincontainer .home .app_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 6rem;
	width: 100%;
	margin-top: -7rem;
}

.maincontainer .home .app_btn button {
	height: 6rem;
	width: 30rem;
	background: linear-gradient(45deg, #cf0d5b -18.43%, #d012aa 80.63%);
	mix-blend-mode: normal;
	border-radius: 2rem;
	border: none;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	line-height: 48px;
	color: #FFFFFF;
	cursor: pointer;
}

.maincontainer .choose {
	position: relative;
	background: url(./Img/corgi-g30ff1c0af_1920.jpg) fixed 100%;
}

.maincontainer .choose .parallax {
	padding-top: 5%;
	padding-bottom: 3%;
}

.maincontainer .choose .parallax .parallax-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
}

.maincontainer .choose .parallax .parallax-inner .left {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
}

.maincontainer .choose .parallax .parallax-inner .left .wcu {
	height: 35rem;
	width: 35rem;
	background: rgba(102, 102, 102, 0.5);
	transform-style: preserve-3d;
	border-radius: 20px;
	/* box-shadow: 0px 0px 5px rgba(2, 255, 209, 0.8); */
	display: grid;
	place-items: center;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	grid-template-columns: auto;
}

.maincontainer .choose .parallax .parallax-inner .left .wcu h2 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 3rem;
	transform: translate3d(0, 0, 50px);
	 text-shadow: 0px 0px 2px rgba(2, 255, 209, 0.8); 
	transform-style: preserve-3d;
	color: #110F67;
}

.maincontainer .choose .parallax .parallax-inner .left .wcu p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 1.4rem;
	padding: 0 3rem 0 5rem;
	transform: translate3d(0, 0, 30px);
	transform-style: preserve-3d;
	color: #fff;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 1); 
}

.maincontainer .choose .parallax .parallax-inner .left .wcu button {
	width: 15rem;
	height: 4.5rem;
	background: linear-gradient(45deg, #cf0d5b -18.43%, #d012aa 80.63%);
	border-radius: 1.5rem;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 1.3rem;
	transform: translate3d(0, 0, 60px);
	transform-style: preserve-3d;
	color: #FFFFFF;
}

.maincontainer .choose .parallax .parallax-inner .right {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
}

.maincontainer .choose .parallax .parallax-inner .right .two {
	position: relative;
	display: grid;
	place-items: center;
	width: 50%;
	height: 100%;
}

.maincontainer .choose .parallax .parallax-inner .right .two .profdoc {
	position: relative;
	display: grid;
	place-items: center;
	transform-style: preserve-3d;
	width: 20rem;
	height: 22rem;
	background: linear-gradient(45deg, #0d5667 18.43%, #5b1764 80.63%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2.5rem;
}

.maincontainer .choose .parallax .parallax-inner .right .two .profdoc .img
	{
	position: relative;
	transform: translate3d(0, 0, 30px);
	transform-style: preserve-3d;
	top: -5rem;
	width: 80%;
}

.maincontainer .choose .parallax .parallax-inner .right .two .profdoc .text
	{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate3d(0, 0, 30px);
	transform-style: preserve-3d;
}

.maincontainer .choose .parallax .parallax-inner .right .two .profdoc .text h2
	{
	width: 80%;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2rem;
	padding-bottom: 2rem;
	text-align: center;
	color: #ffffff;
}

.maincontainer .choose .parallax .parallax-inner .right .two .care {
	position: relative;
	display: grid;
	place-items: center;
	transform-style: preserve-3d;
	width: 22rem;
	height: 22rem;
	background: linear-gradient(45deg, #861677 8.43%, #520c0c 70.63%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2.5rem;
}

.maincontainer .choose .parallax .parallax-inner .right .two .care .img
	{
	position: relative;
	top: -5rem;
	width: 80%;
	transform: translate3d(0, 0, 30px);
	transform-style: preserve-3d;
}

.maincontainer .choose .parallax .parallax-inner .right .two .care .text
	{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate3d(0, 0, 30px);
	transform-style: preserve-3d;
}

.maincontainer .choose .parallax .parallax-inner .right .two .care .text h2
	{
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2rem;
	padding-bottom: 2rem;
	text-align: center;
	color: #ffffff;
}

.maincontainer .choose .parallax .parallax-inner .right .one {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
}

.maincontainer .choose .parallax .parallax-inner .right .one .support {
	position: relative;
	display: grid;
	place-items: center;
	transform-style: preserve-3d;
	width: 20rem;
	height: 23rem;
	background: linear-gradient(45deg, #0b5681 18.43%, #1d0964 50.63%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2.5rem;
}

.maincontainer .choose .parallax .parallax-inner .right .one .support .img
	{
	position: relative;
	transform: translate3d(0, 0, 30px);
	transform-style: preserve-3d;
	top: -6rem;
	width: 80%;
}

.maincontainer .choose .parallax .parallax-inner .right .one .support .text
	{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate3d(0, 0, 30px);
	transform-style: preserve-3d;
}

.maincontainer .choose .parallax .parallax-inner .right .one .support .text h2
	{
	width: 80%;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2rem;
	padding-bottom: 2rem;
	text-align: center;
	color: #ffffff;
}

.maincontainer .doctor {
	position: relative;
	height: 73rem;
	width: 100%;
	background: url("./Img/—Pngtree—colorful lines abstract_5896436 3.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.maincontainer .doctor h2 {
	position: relative;
	text-align: center;
	padding-top: 5rem;
	font-size: 4rem;
	color: #EB2727;
}

.maincontainer .doctor .swiper {
	width: 100%;
}

.maincontainer .doctor .container {
	position: relative;
	margin: 10rem 0;
	width: 100%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
}

.maincontainer .doctor .container .all_card {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.maincontainer .doctor .container .all_card #card_1 {
	background: radial-gradient(50% 50% at 50% 50%, #FF005C 0%, #9D4EDB 100%);
	width: 24rem;
}

.maincontainer .doctor .container .all_card #card_2 {
	background: radial-gradient(50% 50% at 50% 50%, #FAFF05 0%, #71FF40 100%);
	width: 24rem;
}

.maincontainer .doctor .container .all_card #card_3 {
	background: radial-gradient(50% 50% at 50% 50%, #48C8FF 0%, #323AF9 100%);
	width: 24rem;
}

.maincontainer .doctor .container .all_card #card_4 {
	background: radial-gradient(50% 50% at 50% 50%, #FAFF05 0%, #71FF40 100%);
	width: 24rem;
}

.maincontainer .doctor .container .all_card .card_1 {
	position: relative;
	width: 24rem;
	height: 30rem;
	border-radius: 2rem;
	box-shadow: 0 3.5rem 8rem rgba(0, 0, 0, 0.15);
	transition: 0.5s;
	margin: 7rem;
}

.maincontainer .doctor .container .all_card .card_1 .doc_img_box {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 24rem;
	height: 24rem;
	overflow: hidden;
	transition: 0.5s;
}

.maincontainer .doctor .container .all_card .card_1 .doc_img_box img {
	background: #fff;
	position: absolute;
	border-radius: 2rem;
	left: 0;
	width: 100%;
	height: 100%;
}

.maincontainer .doctor .container .all_card .card_1 .doc_details {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
}

.maincontainer .doctor .container .all_card .card_1 .doc_details .doc_name
	{
	padding: 4rem;
	text-align: center;
	width: 100%;
	transition: 0.5s;
	transform: translateY(11rem);
}

.maincontainer .doctor .container .all_card .card_1 .doc_details .doc_name h2
	{
	font-size: 1.75rem;
	font-weight: 600;
	color: #110F67;
	line-height: 2.25rem;
}

.maincontainer .doctor .container .all_card .card_1 .doc_details .doc_name h2 span
	{
	font-size: 1.25rem;
}

.maincontainer .doctor .container .all_card .card_1 .doc_details .doc_name .doc_cotact
	{
	margin: 2rem 0;
}

.maincontainer .doctor .container .all_card .card_1 .doc_details .doc_name .doc_cotact button
	{
	padding: 1rem 2.5rem;
	width: 15rem;
	border: none;
	border-radius: 0.5rem;
	outline: none;
	font-size: 1.2rem;
	font-weight: 600;
	background: linear-gradient(45deg, #cf0d5b -18.43%, #d012aa 80.63%);
	color: #fff;
	cursor: pointer;
	transition: 0.5s;
}

.maincontainer .doctor .container .all_card .card_1 .doc_details .doc_name .doc_cotact button:hover
	{
	background: linear-gradient(45deg, #d012aa -18.43%, #cf0d5b 80.63%);
}

.maincontainer .doctor .container .all_card .card_1:hover {
	height: 33rem;
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.4);
}

.maincontainer .doctor .container .all_card .card_1:hover .doc_img_box {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	top: 1rem;
	background-color: #fff;
	transform-style: preserve-3d;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.maincontainer .doctor .container .all_card .card_1:hover .doc_details .doc_name
	{
	transform: translateY(3rem);
}

.maincontainer .doctor .swiper-pagination {
	display: none;
}

.maincontainer .doctor .swiper-button-next, .maincontainer .doctor .swiper-button-prev
	{
	background: #7e7e7e;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	top: 42%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

.maincontainer .doctor .swiper-button-next:hover, .maincontainer .doctor .swiper-button-prev:hover
	{
	background: #5e5d5d;
	color: #28d5ef;
}

.maincontainer .doctor .swiper-button-next::after, .maincontainer .doctor .swiper-button-prev::after
	{
	font-size: 2rem;
	font-weight: 700;
}

.maincontainer .doctor h3 {
	top: -15rem;
	position: relative;
	text-align: center;
	font-size: 3rem;
	color: #110F67;
	margin-bottom: 3rem;
}

.maincontainer .advisement .advisement_main {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 40rem;
}

.maincontainer .advisement .advisement_main .right_Add {
  position: relative;
  width: 100%;
  border-radius: 2rem;
  margin: 1rem;
}
.maincontainer .advisement .advisement_main .right_Add a {
  border-radius: 2rem;
}
.maincontainer .advisement .advisement_main .right_Add a img {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}


@-webkit-keyframes typing {
  100% {
    left: 100%;
    margin: 0 5rem 0 2rem;
  }
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 5rem 0 2rem;
  }
}
@-webkit-keyframes slide {
  100% {
    top: -180px;
  }
}
@keyframes slide {
  100% {
    top: -180px;
  }
} /*# sourceMappingURL=style.css.map */