* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

input,
select {
  border: none;
  outline: none;
}

select {
  cursor: pointer;
}

input {
  padding: 0.8rem;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

i {
  font-size: 1.8rem;
  cursor: pointer;
}


.maincontainer #product1 {
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
}
.maincontainer #product1 h2 {
  font-size: 5rem;
}
.maincontainer #product1 p {
  font-size: 1.5rem;
}
.maincontainer #product1 .pro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  flex-wrap: wrap;
}
.maincontainer #product1 .pro {
  display: flex;
  flex-direction: column;
  width: 21%;
  min-width: 15rem;
  height: 40rem;
  padding: 1.2rem 1rem;
  border: 0.1rem solid #d9cce7;
  border-radius: 1.5rem;
  cursor: pointer;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.02);
  margin: 1.5rem 0;
  transition: 0.3s ease;
  position: relative;
}
.maincontainer #product1 .pro .img {
  width: 100%;
  height: 80%;
}
.maincontainer #product1 .pro .img img {
  border-radius: 2rem;
}
.maincontainer #product1 .pro .desc {
  text-align: start;
  padding: 1rem 0;
}
.maincontainer #product1 .pro .desc span {
  color: #606063;
  font-size: 1.2rem;
}
.maincontainer #product1 .pro .desc h5 {
  padding-top: 0.7rem;
  color: #1a1a1a;
  font-size: 1.4rem;
}
.maincontainer #product1 .pro .desc i {
  font-size: 1.2rem;
  color: rgb(243, 181, 25);
}
.maincontainer #product1 .pro .desc h4 {
  padding-top: 0.7rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #088178;
}
.maincontainer #product1 .pro .cart {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 5rem;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 0.1rem solid #cce7d0;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}
.maincontainer #product1 .pro:hover {
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.08);
}
.maincontainer #feature_gro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 5rem;
  margin-right: 5rem;
  background: rgb(244, 214, 214);
  border-radius: 0.6rem;
  padding: 0 1rem 0 1rem;
}
.maincontainer #feature_gro .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 0.4rem;
  margin: 1.5rem 0;
  background: #fff;
}
.maincontainer #feature_gro .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
.maincontainer #feature_gro .fe-box h6 {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.9rem 0.8rem 0.6rem 0.8rem;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
.maincontainer #feature_gro .fe-box:hover {
  box-shadow: 5rem 5rem 14rem rgba(0, 0, 0, 0.1);
}
.maincontainer #dress_banner a .banner_add {
  height: 40vh;
  margin-left: 5rem;
  margin-right: 5rem;
  background-image: url(/all/Img/Banner_add/Sale\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.maincontainer #dress_banner a .banner_add a {
  margin-left: 60rem;
}
/*# sourceMappingURL=style3.css.map */